# Android Studio specific
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IntelliJ / Android Studio project files
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Ignore only the build folder inside app, not the whole app
/app/build/
/app/.cxx/
/app/intermediates/
/app/generated/
